/*! _variables.scss | Bold | TiMalo 2021 */

/* ==========================================================================
1. Main Colors
========================================================================== */

$primary: #34678F;
$secondary: #8B89CC;
$accent: #EB5E28;

/* ==========================================================================
2. Global colors
========================================================================== */

$dark: #474350;
$light: #F6F4F5;

$danger: #DC3545;
$info: #0D6EFD;
$success: #198754;
$warning: #FFC107;

/* ==========================================================================
3. Fonts
========================================================================== */

$font: 'Poppins', sans-serif;
$family-sans-serif: 'Poppins', sans-serif;
$family-primary: 'Roboto Slab', serif;
$family-secondary:'Poppins', sans-serif;